<launch>

    <rosparam file="$(find agv_controller_sim)/config/agv_controller_sim.yaml" command="load"/>
    <rosparam file="$(find agv_hw)/config/robothw.yaml" command="load"/>
    <node pkg = "agv_hw" name = "agv_main_node" type = "agv_main_node" output = "screen"/>
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="/"
        args="/agv_sim/turn_wheel_fk_controller_sim"/>

    <node
    name="usart_test"
    pkg="agv_sim_control_test"
    type="usart_test_node" 
    output="screen"/>
    
</launch>